<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
    <a href="/user"><button>Post</button></a>
    <div>
        <% data.map((currelem)=>{ %>
    </div>
    <h1>
        <%= currelem.username %>
    </h1>
    <div><% }) %></div>
</body>

</html>